<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>comeet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05F214F21E6E4D79004E4A16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05F215061E6E4D7A004E4A16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05F215111E6E4D7A004E4A16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
